@import url('https://fonts.cdnfonts.com/css/digital-7-mono');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Variables to make overriding easier in OBS. */
:root {
    --timer-color: #ffbb00;
    --timer-done-color: #ff6644;
    --timer-border-color: #00000099;
    --timer-shadow-color: #00000099;
    --title-color: #ffbb00;
    --title-shadow-color: #000000aa;
    --animation-speed: 0.5s;
}

@keyframes flash-colors {
    0%, 40% {color: var(--timer-color);}
    50%, 90% {color: var(--timer-done-color);}
}
@keyframes slide-in {
    from { margin-left: 100%; opacity: 0;}
    to { margin-left: 0%; opacity: 1;}
}
@keyframes slide-out {
    from { margin-left: 0%; opacity: 1; }
    to { height: 0; margin-left: 100%; opacity: 0; }
}

body {
    margin: 0; 
    padding: 0;
    width: 640px;
    text-align: right;
}

.timer-container {
    animation: slide-in var(--animation-speed) cubic-bezier(.08,.82,.17,1) 1 forwards;
    height: 240px;
    width: 100%;
}
.timer-container.leave {
    animation: slide-out var(--animation-speed) cubic-bezier(.08,.82,.17,1) 1 forwards;
}

.timer {
    color: var(--timer-color);
    -webkit-text-stroke: 1px var(--timer-border-color);
    text-shadow: 4px 4px var(--timer-border-color);
    font-family: "Digital-7 Mono", "Courier New", monospace;
    font-size: 180px;
    line-height: 140px;
}
.timer.done {
    animation: flash-colors 2s infinite;
}

.title {
    color: var(--title-color);
    text-shadow: 3px 3px var(--title-shadow-color);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 64px;
    line-height: 60px;
    width: 100%;
}